<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeveloperName</key>
	<string>Paw Inc.</string>
	<key>ApplicationDescription</key>
	<string>Paw is a full-featured HTTP client that lets you test APIs.</string>
	<key>Connections</key>
	<array>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>paw.cloud</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Port</key>
			<string>443</string>
			<key>Relevance</key>
			<string>Essential</string>
			<key>Purpose</key>
			<string>Paw needs to activate its license and install extensions. If you use [Paw Cloud](https://paw.cloud/), it will also synchronize your projects.</string>
			<key>DenyConsequences</key>
			<string>If you deny this connection, Paw won&apos;t be able to reach the licensing server and won&apos;t be running properly. Though, you can stay productive while on the go, as Paw works up to 14 days offline out of reach of the licensing server.</string>
		</dict>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>*.hockeyapp.net</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Port</key>
			<string>443</string>
			<key>Relevance</key>
			<string>Default</string>
			<key>Purpose</key>
			<string>Paw uses [HockeyApp](https://hockeyapp.net/) to track app crashes. While crash reports are extremely valuable for us to improve Paw, it&apos;s your choice whether to send crash reports or not.</string>
			<key>DenyConsequences</key>
			<string>If you deny this connection, Paw won&apos;t be able to send crash reports.</string>
		</dict>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>*.algolia.net, *.algolia.com</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Port</key>
			<string>443</string>
			<key>Relevance</key>
			<string>Default</string>
			<key>Purpose</key>
			<string>Paw uses [Algolia](https://www.algolia.com/) (a cloud search service) to search for documentation articles and standard API definitions.</string>
			<key>DenyConsequences</key>
			<string>If you deny this connection, you won&apos;t be able to search for online documentation in the Help menu or for APIs definitions to import.</string>
		</dict>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>pawforteams.firebaseio.com</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Port</key>
			<string>443</string>
			<key>Relevance</key>
			<string>Essential</string>
			<key>Purpose</key>
			<string>Paw uses [Firebase](https://firebase.google.com/) (a Google Cloud Platform service) to update Paw Cloud projects in real-time.</string>
			<key>DenyConsequences</key>
			<string>If you deny this connection, project syncing on Paw Cloud won&apos;t be working properly.</string>
		</dict>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>*</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Relevance</key>
			<string>Default</string>
			<key>Purpose</key>
			<string>Paw needs to connect to the HTTP APIs you&apos;re testing.</string>
			<key>DenyConsequences</key>
			<string>If you deny this connection, you won&apos;t be able to test your HTTP APIs with Paw.</string>
		</dict>
	</array>
</dict>
</plist>
